@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #1f242d;
    padding: 25px;
}
.container form{
    width: 700px;
    padding: 40px;
    background: #fff;
    border-radius: 10px;
}
form .row{
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

.row .column{
    flex: 1 1 250px;
}

.column .title{
    font-size: 20px;
    color: #333;
    text-transform: uppercase;
    margin-bottom: 5px;
}
.column .input-box{
    margin: 15px 0;
}

.input-box span{
    display: block;
    margin: 10px;
}
.input-box input{
    width: 100%;
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 15px;
}

.column .flex{
    display: flex;
    gap: 15px;
}

.flex input{
    margin-top: 5px;
}

.input-box img{
    height: 34px;
    margin-top: 5px;
    filter: drop-shadow(0 0 1px #000);
}

form .btn{
    width: 100%;
    padding: 12px;
    background: #ff0080;
    outline: none;
    border: none;
    border-radius: 6px;
    font-size: 17px;
    color: #fff;
    margin-top: 5px;
    cursor: pointer;
}
form .btn:hover{
    background: #c20061;
}